.container-s {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.container-search {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.container-search-input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid gray;
  margin-right: 10px;
  width: 200px;
}

.container-search-btn {
  padding: 8px 16px;
  border-radius: 4px;
  background-color:  #673ab7;
  color: white;
  border: none;
  cursor: pointer;
}

.container-select {
  display: flex;
  align-items: center;
}

.select {
  width: 200px;
  margin-right: 10px;
}

.select-btn {
  padding: 8px 16px;
  border-radius: 4px;
  background-color:  #673ab7;
  color: white;
  border: none;
  cursor: pointer;
}teiner-searc-input{
  font-size: 16px;
  padding-left: 6px;
  width: 300px;
  height: 49px;
  border-radius: 36px;
}
.conteiner-searc-btn{
  width: 220px;
  height: 49px;
  margin-left: 10px;
  border-radius: 36px;
  background-color: #673ab7;
  color: white;
  font-size: 16px;
  border: none;
}
.conteiner-searc-btn:hover {
  color: #fff;
  background-color: grey; 
}
.conteiner-cart {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }