.container {
    width: 90%;
    margin: auto;
  }
  
  .t_newsource {
    border-collapse: collapse;
    width: 100%;
  }
  
  .t_newsource th,
  .t_newsource td {
    padding: 12px 15px;
    text-align: left;
  }
  
  .t_newsource th {
    background-color: #1a1a1a;
    color: #fff;
  }
  
  .t_newsource td {
    border-bottom: 1px solid #ddd;
  }
  
  .t_newsource tr:hover {
    background-color: #f5f5f5;
  }
  
  #b_buscador {
    display: block;
    margin: 20px auto;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    background-color:  #673ab7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #b_buscador:hover {
    background-color: #333;
  }
  
  .edit{
    padding: 8px 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color:  #673ab7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
  }
.delete {
    padding: 8px 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color:  #673ab7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  button[name="Edit"]:hover,
  button[name="Delete"]:hover {
    background-color: #333;
  }